<div class="form-group" [formGroup]="frmGroup">
  <label *ngIf="controlConfig.label">{{controlConfig.label}}</label>
  <div>
    <div *ngFor="let control of getOptions(); let i = index">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          [formControlName]="controlConfig.name"
          [id]="'radio-' + controlConfig.name+'-'+i"
          [value]="control.value"
          [checked]="control.value === controlConfig.value"
        >
        <label class="form-check-label" [for]="'radio-' + controlConfig.name+'-'+i">
          {{ control.label ? control.label : '' }}
        </label>
      </div>
    </div>
  </div>
  <small *ngIf="controlConfig.description" class="form-text text-muted">{{controlConfig.description}}</small>
</div>
