<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let r of routerConfig" class="nav-item active">
        <a class="nav-link" [routerLink]="r?.path" routerLinkActive="active">{{r && r.data ? r.data['title'] : ''}}</a>
      </li>
    </ul>
  </div>
</nav>
