<div class="form-group" [formGroup]="frmGroup">
  <label *ngIf="controlConfig.label">{{controlConfig.label}}</label>
  <div [formArrayName]="controlConfig.name">
    <div *ngFor="let option of getOptions(); let i = index">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="'checkbox-' + i"
          [value]="option.value"
          [checked]="isChecked(option.value)"
          (change)="onChange($event)"
          [disabled]="controlConfig.disabled"
        >
        <label class="form-check-label" [for]="'checkbox-' + i">
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>
  <small *ngIf="controlConfig.description" class="form-text text-muted">{{controlConfig.description}}</small>
</div>
